<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nlohmann.json" version="3.11.2" targetFramework="native" />
  <package id="protobuf-vc140" version="3.19.4" targetFramework="native" />
  <package id="sdl2.nuget" version="2.28.5" targetFramework="native" />
  <package id="sdl2.nuget.redist" version="2.28.5" targetFramework="native" />
  <package id="sdl2_ttf.nuget" version="2.20.2" targetFramework="native" />
  <package id="sdl2_ttf.nuget.redist" version="2.20.2" targetFramework="native" />
</packages>